html, body {
      height: 100%;
      margin: 0;
    }

    body {
      background:
        url(../imagenes/Imagen2.jpg);
      background-size: cover;       /* se adapta a cualquier pantalla */
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      font-family: Arial, sans-serif;
    }

     h1{
      color: White;
    }

    h2 {
        color: rgb(12, 25, 25);
    }
    p {
      color:black;
    }
   