@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Satisfy&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family:'Poppins', sans-serif;
    background-color: #F5F4F0;

}

img {

    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
} 

.header{
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url(images/Imagen2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: rgb(243, 212, 11);

}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
}

.header-txt{
    text-align: center;
}

.header-txt h1 {
    font-size: 75px;
    font-family: 'Satisfy',cursive;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 15px;
}  

.header-txt p{
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width:991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    
    .menu .navbar{ 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: gray;
        display: none;
    }

    .menu .navbar ul li a:hover{
        color:  rgb(243, 212, 11);
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }


    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }



}